# Lesson 19: DataBases

commentary: the usage of my favorite SQL-related package -- SQLAlchemy -- can be ssen in github.com/redencon/psich

> T+: `-:--:--`

note: SQL queries that are singlets can have no ;

## Task 1. Create tables

### Creating
```sql
CREATE TABLE books(
    id INTEGER PRIMARY KEY NOT NULL,
    author TEXT NOT NULL,
    title TEXT NOT NULL,
    publish_year INTEGER
);

CREATE TABLE readers(
    id INTEGER PRIMARY KEY NOT NULL,
    name TEXT NOT NULL
);

CREATE TABLE records(
    FOREIGN KEY (reader_id) REFERENCES readers (id),
    FOREIGN KEY (book_id) REFERENCES books(id),
    taking_date TEXT NOT NULL,
    returning_date TEXT
)
```

### Filling
```sql
INSERT INTO books (author, title, publish_year)
VALUES
    ("Илья Варламов", "100 советов мэру", 2020),
    ("Карл Клаузевиц", "О войне", 1832),
    ("Максим Ильяхов", "Пиши, сокрашай 2025", 2024),
    ("Кэрол Дуэк", "Гибкое сознание", 2006);

INSERT INTO readers (name)
VALUES
    ("Клим Гольдштейн"),
    ("Илья Захаров"),
    ("Петр Ковалёв"),
    ("Мария Егорова");

INSERT INTO records (reader_id, book_id, taking_date, returning_date)
VALUES
    (1, 2, "01-12-2012", "02-12-2012"),
    (1, 3, "01-12-2024", "0-7-12-2024"),
    (2, 2, "06-08-2024"),
    (3, 1, "06-08-2023"),
    (4, 4, "12-08-2024");
```

## Selecting
```sql
SELECT DISTINCT id, title
FROM records
LEFT JOIN books ON books.id = records.book_id
WHERE records.returning_date IS NULL;

SELECT title, name
FROM records
LEFT JOIN books ON books.id = records.book_id
LEFT JOIN readers ON readers.id = records.reader_id;

SELECT COUNT(*)
FROM books
GROUP BY author;
```